<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="IOPath" value="D:\Persnol\Work\RssFeedNotifier\IO"/>
    <add key="LogFilePath" value="D:\Persnol\Work\RssFeedNotifier\IO\RssFeedReaderLog.log"/>
    <add key="url" value="https://tribune.com.pk/pakistan/feed/"/>
    
  </appSettings>
</configuration>